[submodule "packages"]
	path = packages
	url = https://github.com/TimeWatcher/lux-packages.git
[submodule "docs-site"]
	path = docs-site
	url = https://github.com/TimeWatcher/lux-docs-site.git
[submodule "lsp"]
	path = lsp
	url = https://github.com/TimeWatcher/lux-lsp.git
