[submodule "packages"]
	path = packages
	url = https://github.com/TimeWatcher/lux-packages.git
[submodule "docs-site"]
	path = docs-site
	url = https://github.com/TimeWatcher/lux-docs-site.git
[submodule "mgfx-docs-site"]
	path = mgfx-docs-site
	url = https://github.com/TimeWatcher/mgfx-docs-site.git
